[user]
	name = xiangyang
	email = xiangyang2516@gmail.com
[core]
	quotepath = false
[alias]
	lg  = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit 
[credential]
	helper = store
